# Make files
**Makefile

# Visual Studio code
.vscode

# Visual Studio files & folders
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Clion
.idea
cmake-build-debug
cmake-build-release